[submodule "cron"]
	path = cron
	url = https://github.com/swisstxt/puppet-module-cron.git
[submodule "yum"]
	path = yum
	url = https://github.com/swisstxt/puppet-module-yum.git
[submodule "sysctl"]
	path = sysctl
	url = https://github.com/swisstxt/puppet-module-sysctl.git
[submodule "firewall"]
	path = firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "icinga"]
	path = icinga
	url = https://github.com/swisstxt/puppet-module-icinga.git
[submodule "concat"]
	path = concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "foreman"]
	path = foreman
	url = https://github.com/theforeman/puppet-foreman.git
[submodule "apache"]
	path = apache
	url = https://github.com/swisstxt/puppet-module-apache.git
[submodule "passenger"]
	path = passenger
	url = https://github.com/theforeman/puppet-passenger.git
[submodule "dns"]
	path = dns
	url = https://github.com/mmz-srf/puppet-module-dns.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "user"]
	path = user
	url = https://github.com/swisstxt/puppet-module-user.git
[submodule "php"]
	path = php
    url = https://github.com/swisstxt/puppet-module-php.git
[submodule "resolvconf"]
	path = resolvconf
	url = https://github.com/swisstxt/puppet-module-resolvconf.git
[submodule "ruby"]
	path = ruby
	url = https://github.com/swisstxt/puppet-module-ruby.git
[submodule "puppet"]
	path = puppet
	url = https://github.com/swisstxt/puppet-module-puppet.git
[submodule "git"]
	path = git
	url = https://github.com/swisstxt/puppet-module-git.git
[submodule "cloudstack"]
	path = cloudstack
	url = https://github.com/swisstxt/puppet-module-cloudstack.git
[submodule "haproxy"]
	path = haproxy
	url = https://github.com/puppetlabs/puppetlabs-haproxy.git
[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/electrical/puppet-elasticsearch.git
[submodule "mongodb"]
	path = mongodb
	url = https://github.com/swisstxt/puppet-module-mongodb.git
[submodule "graylog2"]
	path = graylog2
	url = https://github.com/swisstxt/puppet-module-graylog2.git
[submodule "augeas"]
	path = augeas
	url = https://github.com/camptocamp/puppet-augeas.git
[submodule "authconfig"]
	path = authconfig
	url = https://github.com/swisstxt/puppet-module-authconfig 
[submodule "postfix"]
	path = postfix
	url = https://github.com/camptocamp/puppet-postfix.git
[submodule "rsyslog"]
	path = rsyslog
	url = https://github.com/swisstxt/puppet-module-rsyslog.git
[submodule "ntp"]
	path = ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "ssh"]
	path = ssh
	url = https://github.com/swisstxt/puppet-module-ssh.git
[submodule "logrotate"]
	path = logrotate
    url = https://github.com/swisstxt/puppet-module-logrotate.git
[submodule "keepalived"]
	path = keepalived
    url = https://github.com/swisstxt/puppet-module-keepalived.git
[submodule "boolean"]
	path = boolean
	url = https://github.com/adrienthebo/puppet-boolean.git
[submodule "filemapper"]
	path = filemapper
	url = https://github.com/adrienthebo/puppet-filemapper.git
[submodule "network"]
	path = network
	url = https://github.com/mmz-srf/puppet-network.git
        branch = master
[submodule "selinux"]
	path = selinux
	url = https://github.com/spiette/puppet-selinux.git
[submodule "pnp4nagios"]
	path = pnp4nagios
	url = https://github.com/swisstxt/puppet-module-pnp4nagios.git
